<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="../../adminpanel" [routerLinkActive]="['active-link']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../tests" [routerLinkActive]="['active-link']">Tests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../questions" [routerLinkActive]="['active-link']">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../answers" [routerLinkActive]="['active-link']">Answers</a>
        </li>
      </ul>
      <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>