.userTests{
  display: inline-block;
  text-align: center;
}

.user-tests{
  width: 80%;
  border: 1px solid black;
  margin: 20px 0;
}

.test-id{
  background-color: rgb(168, 211, 240);
}

.test-info{
  background-color: rgb(222, 234, 248);
}

.test-info p{
  margin: 0 auto;
}

.test-result{
  background-color: rgb(174, 248, 174);
}

p{
  margin: 5% 5%;
  padding: 0px;
}