<div class="userTests big-font" *ngFor="let test of userTestsInfo">
  <div class="user-tests">
    <h3 class="test-id"><b>{{currentUserId}}</b></h3>
    <div class="test-info">
      <p>Test id: {{test.id}}</p>
      <p>Title: {{test.title}}</p>
      <p>Description: {{test.description}}</p>
      <p>AccessKey: {{test.accessKey}}</p>
    </div>
    <p class="test-result">Result: {{test.result}}</p>
  </div>
</div>