body {
  // background-color: #b5ecd9;
  background-color: #f4f5eba8;
}

input.form-control,
input.form-control:focus {
  background-color: #636b7b;
  color: #fff;
  border: 1px solid #636b7b;
}

input.form-control:focus {
  box-shadow: none;
}

button[type="submit"].btn {
  border-radius: 20px;
  background-color: #04c582;
  color: #fff;
}

div.form-group label:not(.text-danger) {
  color: #545d6a;
  font-weight: 700;
}

div.form-group.required > label:first-child:after {
  content: "*";
  color: #fff;
  padding-left: 5px;
}

#toast-container > div {
  opacity: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.wrapped-div {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #2e3137;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

/* Tabs */
.tab-header {
  text-align: center;
}

.tab-header h2.activelink {
  color: white;
  border-bottom: 4px solid #fff;
}

.tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.tab-header h2:focus {
  outline: none;
}

form {
  margin: 0px 16px;
}

div.form-group input.invalid {
  border: 1px solid #dc3545;
}
div.form-group label:first-child {
  text-transform: uppercase;
  font-size: 0.9rem;
}
#toast-container > div {
  opacity: 1;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.search {
  font-size: 30px;
  text-transform: uppercase;
  margin-right: 20px;
}

.search-input {
  font-size: 20px;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 8px;
  height: 8px;
  background: #000000;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.active-link {
  font-size: 1.2rem;
  text-decoration: underline;
  color: black;
}

.btn-add{
  background-color: orange;
  color: #ffffff;
}

.btn-edit {
  background-color: rgba(90, 90, 228, 0.917);
  color: #ffffff;
}
.btn-delete {
  background-color: rgba(255, 0, 0, 0.689);
  color: #ffffff;
}

.big-font {
  font-size: 30px;
}

.small-font {
  font-size: 18px;
}


.updateForm {
  top: 20%;
  left: 78%;
  width: 90%;
  margin: 10px auto;
  border: 3px black solid;
}
