.btn-edit {
  background-color: rgba(90, 90, 228, 0.917);
  color: #ffffff;
}
.btn-delete {
  background-color: rgba(255, 0, 0, 0.689);
  color: #ffffff;
}

.big-font {
  font-size: 30px;
}

.small-font {
  font-size: 18px;
}

button {
  margin: 10px 20px;
}

.updateForm {
  top: 20%;
  left: 78%;
  width: 90%;
  margin: 10px auto;
  border: 3px black solid;
}

.userTests {
  width: 70%;
  margin: 10px auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.user-tests {
  border: 1px solid black;
}

.admin-panel {
  flex-wrap: nowrap;
}

.linkToTest {
  color: #ffffff;
  text-decoration: none;
}


