<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/adminpanel" [routerLinkActive]="['active-link']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminpanel/tests" [routerLinkActive]="['active-link']">Tests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminpanel/questions" [routerLinkActive]="['active-link']">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminpanel/answers" [routerLinkActive]="['active-link']">Answers</a>
        </li>
      </ul>
      <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>
<label class="search">Search</label>
<input class="input search-input" [(ngModel)]="search">
<small>( <span class="big-font">,</span> is separator)</small>

<button id="btn-load" class="btn btn-info btn-large" (click)=(loadUsers())>Load users</button>

<br>
<br>
<br>
<div *ngIf="!loadingData; else loadingUsers" class="flex-wrapper admin-panel">
  <table class="table table-striped table-hover table-borderless big-font" style="width: 75%;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Date of birth</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of users | filter:search">
        <th class="align-middle small-font">{{user.id}}</th>
        <td class="align-middle">{{user.name}}</td>
        <td class="align-middle">{{user.dateOfBirth | date:'dd / MM / yyyy'}}</td>
        <td class="align-middle">
          <button type="button" (click)="showEditModal(user.id)" class="btn btn-large btn-edit">Edit</button>
        </td>
        <td class="align-middle">
          <button type="button" class="btn btn-large btn-delete" (click)="deleteUser(user.id)">Delete</button>
        </td>
        <td class="align-middle">
          <button type="button" class="btn btn-large btn-info" (click)="loadUserTests()">
            <a class="linkToTest" [routerLink]="['/home/usertests', user.id]">Load user tests</a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="side-container">
    <div class="updateForm" [hidden]="hiddenEdit">
      <p>{{chosenUserId}}</p>
      <form [formGroup]="service.formUpdateModel" autocomplete="off" (submit)="onUpdateSubmit(chosenUserId)">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" formControlName="Name">
          <label class="text-danger"
            *ngIf="service.formUpdateModel.get('Name')?.touched && service.formUpdateModel.get('Name')?.errors?.required">Name
            is mandatory</label>
        </div>
        <div class="form-group">
          <label>Date of birth</label>
          <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Date of birth"
            class="form-control" formControlName="DateOfBirth">
          <label class="text-danger"
            *ngIf="service.formUpdateModel.get('DateOfBirth')?.touched && service.formModel.get('DateOfBirth')?.errors?.required">Date
            of birth is mandatory</label>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block"
              [disabled]="!service.formUpdateModel.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #loadingUsers>
  <div class="lds-default">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>