    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="service.formModel.get('UserName')?.touched && service.formModel.get('UserName')?.errors?.required">Username is mandatory</label>
      </div>
      <div class="form-group">
        <label>Date of birth</label>
        <input type="date" value="{{nowDate}}" min="1900-01-01" max="2021-09-23" class="form-control" formControlName="DateOfBirth">
        <label class="text-danger" *ngIf="service.formModel.get('DateOfBirth')?.touched && service.formModel.get('DateOfBirth')?.errors?.required">Date of birth is mandatory</label>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input placeholder="abc@abc.com" class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="service.formModel.get('Email')?.touched && service.formModel.get('Email')?.errors?.required">Email is mandatory</label>
        <label class="text-danger" *ngIf="service.formModel.get('Email')?.errors?.email">Email should be correct</label>
      </div>
      <div formGroupName=Passwords>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.required">Password is mandatory</label>
        </div>
        <div class="form-group">
          <label>Confirm password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.required">Confirming password is mandatory</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch">Confirm password does not match</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
        </div>
      </div>
    </form>