<img src="./assets/img/single_user.png" alt="sign in" class="mx-auto d-block">
<!-- <form #form='ngForm' class="mb-4" autocomplete="off">
  <div class="form-group">
    <label >Email</label>
    <input class="form-control" #Email="ngModel" name="Email" [(ngModel)]="formModel.Email" required>
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block">Login</button>
    </div>
  </div>
</form>> -->
<form [formGroup]="service.formLoginModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="Email">
    <label class="text-danger" *ngIf="service.formLoginModel.get('Email')?.touched && service.formLoginModel.get('Email')?.errors?.required">Email is mandatory</label>
    <label class="text-danger" *ngIf="service.formLoginModel.get('Email')?.errors?.email">Email should be correct</label>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="Password">
    <label class="text-danger" *ngIf="service.formLoginModel.get('Passwords.Password')?.touched && service.formModel.get('Passwords.Password')?.errors?.required">Password is mandatory</label>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formLoginModel.valid">Sign In</button>
    </div>
  </div>
</form>