<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="../../adminpanel" [routerLinkActive]="['active-link']">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../tests" [routerLinkActive]="['active-link']">Tests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../questions" [routerLinkActive]="['active-link']">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../answers" [routerLinkActive]="['active-link']">Answers</a>
        </li>
      </ul>
      <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>

<label class="search">Search</label>
<input class="input search-input" [(ngModel)]="search">
<small>( <span class="big-font">,</span> is separator)</small>

<button id="btn-load" class="btn btn-info btn-large" (click)=(loadTests())>Load tests</button>
<br>
<button type="button" (click)="addTest()" class="btn btn-large btn-add">Add</button>

<div class="updateForm" [hidden]="hiddenAdd">
  <form [formGroup]="service.formAddTestModel" autocomplete="off" (submit)="onAddSubmit()">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" formControlName="title">
      <label class="text-danger"
        *ngIf="service.formAddTestModel.get('title')?.touched && service.formAddTestModel.get('title')?.errors?.required">Title
        is mandatory</label>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" formControlName="description">
      <label class="text-danger"
        *ngIf="service.formAddTestModel.get('description')?.touched && service.formAddTestModel.get('description')?.errors?.required">Description
        is mandatory</label>
    </div>
    <div class="form-group">
      <label>Access key</label>
      <input class="form-control" formControlName="accessKey">
      <label class="text-danger"
        *ngIf="service.formAddTestModel.get('accessKey')?.touched && service.formAddTestModel.get('accessKey')?.errors?.required">Access
        key is mandatory</label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formAddTestModel.valid">Add</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="!loadingData; else loadingTests" class="flex-wrapper test-panel">
  <table class="table table-striped table-hover table-borderless big-font" style="width: 75%;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Access key</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let test of tests | filter:search">
        <th class="align-middle small-font">{{test.id}}</th>
        <td class="align-middle">{{test.title}}</td>
        <td class="align-middle">{{test.description}}</td>
        <td class="align-middle">{{test.accessKey}}</td>
        <td class="align-middle">
          <button type="button" (click)="showEditModal(test.id)" class="btn btn-large btn-edit">Edit</button>
        </td>
        <td class="align-middle">
          <button type="button" class="btn btn-large btn-delete" (click)="deleteTest(test.id)">Delete</button>
        </td>
        <td class="align-middle">
          <a [routerLink]="['/adminpanel/tests/teststats', test.id]">
            <button type="button"class="btn btn-large btn-outline-info">Get test stats</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="side-container">
    <div class="updateForm" [hidden]="hiddenEdit">
      <p style="text-align: center;">{{chosenTestId}}</p>
      <form [formGroup]="service.formUpdateTestModel" autocomplete="off" (submit)="onUpdateSubmit(chosenTestId)">
        <div class="form-group">
          <label>Title</label>
          <input class="form-control" formControlName="title">
          <label class="text-danger"
            *ngIf="service.formUpdateTestModel.get('title')?.touched && service.formUpdateTestModel.get('title')?.errors?.required">Title
            is mandatory</label>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input class="form-control" formControlName="description">
          <label class="text-danger"
            *ngIf="service.formUpdateTestModel.get('description')?.touched && service.formUpdateTestModel.get('description')?.errors?.required">Description
            is mandatory</label>
        </div>
        <div class="form-group">
          <label>Access key</label>
          <input class="form-control" formControlName="accessKey">
          <label class="text-danger"
            *ngIf="service.formUpdateTestModel.get('accessKey')?.touched && service.formUpdateTestModel.get('accessKey')?.errors?.required">Access
            key is mandatory</label>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block"
              [disabled]="!service.formUpdateTestModel.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #loadingTests>
  <div class="lds-default">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
