<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand text-black">Hello</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminpanel">Admin panel</a>
    </li>
  </ul>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<form class="accesskey-from" [formGroup]="testUserService.formAccessTestModel" autocomplete="off" (submit)="onSubmitAccessKey()">
  <div class=" form-group">
    <label>Access Key</label>
    <input class="form-control" formControlName="accessKey">
    <label class="text-danger" *ngIf="testUserService.formAccessTestModel.get('accessKey')?.touched && testUserService.formAccessTestModel.get('accessKey')?.errors?.required">Access key is mandatory</label>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!testUserService.formAccessTestModel.valid">Add test</button>
    </div>
  </div>
</form>

<br>
<label class="search">Search</label>
<input class="input search-input" [(ngModel)]="search">
<small>( <span class="big-font">,</span> is separator)</small>



<div class="flex-wrapper">
  <div class="test" *ngFor="let test of tests | filter:search">
    <p><small>Title</small>: {{test.title}}</p>
    <p><small>Description:</small> {{test.description}}</p>
    <p><small>Access key:</small> {{test.accessKey}}</p>
   
      <button [disabled]="hideTest(test.id)" class="btn pass-test btn-large btn-primary" (click)="passTest(test.id)">
        <a class="linkToTest"  [routerLink]="['/home', test.id]">Pass test</a>
      </button>

  </div>  
</div>

