<div class="wrapper">
  <div class="wrapped-div">
    <div class="tab-header">
      <h2 class="h2link" routerLink="/user/login" routerLinkActive="activelink">Sign in</h2>
      <h2 class="h2link" routerLink="/user/registration" routerLinkActive="activelink">Sign up</h2>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>