<div class="chart">
  <ngx-charts-bar-vertical [view]="view" [results]="dataForChart" [gradient]="gradient" [xAxis]="showXAxis"
    [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-vertical>
</div>

<div class="result">
  <p>Average result: {{testStatsForChart.avgResult}}</p>
</div>