.questions {
  width: 95%;
  margin: 30px auto;
  border: 3px solid black;
}

.question-form {
  width: 90%;
  margin: 15px auto;
  border: 1px solid lightblue;
}

.q-description {
  background-color: lightblue;
  text-align: center;
  width: 90%;
  margin: 10px auto;
}

.answers {
  background-color: rgb(228, 243, 228);
  width: 90%;
  margin: 0px auto;
}

.answer {
  width: min-content;
  margin: 10px auto;
}

.btn-submit-test {
  margin: 15px auto;
  text-align: center;
  margin-left: 45%;
  margin-bottom: 45px;
}

.result-wrapper {
  animation: resultwiggle 10s linear infinite;
  width: 30%;
  margin: 30px auto;
  text-align: center;
  border: lime 2px solid;
  background-color: rgb(198, 250, 198);
}

@keyframes resultwiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }
  30% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(6deg);
  }
  50% {
    transform: rotateZ(-4deg);
  }
  60%,
  100% {
    transform: rotateZ(0);
  }
}

.result-wrapper-text {
  font-size: 50px;
  margin: 5px;
  vertical-align: middle;
}

.testInfo {
  width: 66%;
  margin: 10px auto;
  font-size: 36px;
  background-color: lightcyan;
}
