<div class="testInfo">
  <p><small>Title:</small> {{currentTest.title}}</p>
  <p><small>Description:</small> {{currentTest.description}}</p>
  <p><small>Access key:</small> {{currentTest.accessKey}}</p>
</div>

<button id="button" class="btn btn-large btn-primary" (click)="passTest()">{{tryPassTestMsg}}</button>

<div id="timer">
  Time left: {{timeLeftFormat}}
</div>

<form *ngIf="!loadingData; else loadingDataa" [hidden]="testHidden" class="test full-form">
  <div class="questions" *ngFor="let q of fullTest.questions">
    <div class="q-description">
      {{q.description}}
    </div>
    <form class="question-form">
      <p class="q-id" hidden>{{q.id}}</p>
      <div class="answers" *ngFor="let answer of q.answers">
        <form id="answerform" class="form-check answer">
          <input type="checkbox" class="input-custom form-check-input" id="{{answer.id}}" name="answer.title"
            value="{{answer.description}}">
          <label class="form-check-label" for="answer.title">{{answer.description}}</label><br>
        </form>
      </div>
    </form>
  </div>
  <button type="submit" class="btn btn-large btn-outline-primary btn-submit-test"
    (click)="onSubmitFullTest()">Submit</button>
</form>
<ng-template #loadingDataa>
  <div class="lds-default">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</ng-template>
<div [hidden]="!isTestPassed" class="result-wrapper">
  <p class="result-wrapper-text big-font">RESULT: {{testResult}} / 100</p>
</div>